#wrapper .header {
    background-color: #166969;
    padding: 10px 0;
    margin-bottom: 40px;
}

    #wrapper .header .RadMenu {
        margin: 10px 0;
        float: none;
    }

#wrapper .logo {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
}

    #wrapper .logo img {
        max-width: 100%;
    }

#wrapper .jumbotron {
    padding: 1.875em;
    padding-top: 1em;
    background-color: #f0f5f5;
}

    #wrapper .jumbotron .RadButton {
        float: right;
        margin-top: .667em;
        font-size: .5em;
    }

#wrapper .footer {
    width: 100%;
    padding: 30px 15px;
    line-height: 30px;
}

.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: #f0f0f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .wrapper .info-text.login {
        right: 0;
    }

.info-text h2 {
    font-size: 36px;
    color: #884dff;
    line-height: 1.3;
}

.MyLabel {
    display: block;
    width: 150px;
    margin-top: 4px;
}

html body form .RadInput .MyEmptyTextBox,
html body form .RadInput .MyEnabledTextBox,
html body form .RadInput .MyHoveredTextBox,
html body form .RadInput .MyFocusedTextBox,
html body form .RadInput .MyInvalidTextBox,
html body form .RadInput .MyNegativeTextBox {
    border-width: 2px;
    border-color: #e6ffe6;
    font: 14px/18px arial,sans-serif;
}

html body .RadInput .MyEmptyTextBox {
    color: #999;
}

html body form .RadInput .MyEnabledTextBox {
}

html body form .RadInput .MyHoveredTextBox {
    border-color: #6c6;
    background: #efe;
}

html body form .RadInput .MyFocusedTextBox {
    border-color: #3a3;
    background: #efe;
}

html body form .RadInput .MyInvalidTextBox {
    border-color: #f33;
    background: none #ff9;
}

html body form .RadInput .MyNegativeTextBox {
    color: #930;
    font-weight: bold;
}

#example .RadInput .riLabel {
    color: #555;
}

#example .RadInput .riTextBox {
    color: #555;
}

#example .demo-containers {
    margin: 30px auto;
}

    #example .demo-containers .demo-container {
        display: inline-block;
        padding: 30px;
        margin: 10px auto;
        min-width: 250px;
        min-height: 85px;
    }

.fb-group .riSingle {
    display: inline-block !important;
}

fieldset
input:valid {
    border-color: #009900;
}

input:invalid {
    border-color: #ff0000;
}


.grdHeader {
    background-color: #ccc3a3;
    font-size: 12px;
}

.grdAlternatingRow {
    background-color: #f0ecde;
}

.grdRecords {
    font-size: 11px;
    color: #ffffff;
}
