<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <!-- Update to your SQL Server instance / database -->
      <add name="RCTempConnection" connectionString="Data Source=OIT-L-BY10S73\SQLEXPRESS2019;Initial Catalog=RCTemp;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
      <add name="RCTemp.Properties.Settings.RCTempConnectionString" connectionString="Data Source=OIT-L-BY10S73\SQLEXPRESS2019;Initial Catalog=RCTemp;Integrated Security=True;Trust Server Certificate=True" />
  </connectionStrings>

  <appSettings>
    <!-- Optional helper keys used by the AddUser utility -->
    <add key="AdminUser" value="admin" />
    <add key="AdminPassword" value="P@ssw0rd!" />
    <!--<add key="SiteBaseUrl" value="https://localhost/" />-->
    <!-- SMTP keys (if the worker/email features are used) -->
    <add key="SmtpHost" value="" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="SmtpUser" value="" />
    <add key="SmtpPass" value="" />
    <add key="EmailFrom" value="no-reply@example.com"/>
  </appSettings>

</configuration>