<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Copy the same connection string used by your web project -->
    <add name="RCTempConnection" connectionString="Server=.\SQLEXPRESS;Database=RCTempDb;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>