<configuration>
  <connectionStrings>
    <!-- Windows Authentication, local SQL Server instance -->
    <add name="RCTempConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=RCTempDb;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>
    <authorization>
      <!-- default: allow all; use <location> to restrict specific pages -->
      <allow users="*" />
    </authorization>
    <!-- ... -->
  </system.web>

  <!-- Protect pages by role -->
  <location path="JobEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Applications.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>